/* src/pages/Settings.css */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


.setting-brand-row{
     display:flex;
     flex-direction: column;
     gap:40px;
     align-items: center;

}
.settings-header{
  display: flex;
  flex-direction: row;
}

.settings-brand {
     font-family: Italiana;
}

.search{
  width: 200px;
  padding: 10px;
  border-radius:20px;
  border-color: grey;
}

   .settings-label{
    padding:20px;
   }

   .settings-input{
    margin-left:20px;
   }
   .settings-select{
    margin-left:20px;
   }

   .settings-form{
    display:flex;
    flex-direction: column;
    gap :30px;
   }
   
   .icon{
    padding-top: 20px;
     width:40px;
     height:40px;
   }

   .settings-button{
    width:fit-content;
    margin-left:100px;
   }
   .settings-button:hover{
    cursor:pointer;
   }
   
   .settings-close{
    margin-left:20px;
    margin-top:20px;
    width:40px;
    height:40px;
   }