.new-leftsidebar-sidebar{
     position: fixed;
     top: 0;
     left: 0;
     width: 280px;
     height: 100vh;
     background-color: white;
     padding: 30px;
     display: flex;
     flex-direction: column;
}

.new-leftsidebar-brand-row{
     display: flex;
     flex-direction: row;
     align-items: center;
}

.new-leftsidebar-brand{
     font-size: 30px;
     font-family: italiana;
}

.new-leftsidebar-section {
     margin-bottom: 24px;
     display: flex;
     flex-direction: column;
   }

.new-leftsidebar-readonly-box {
     padding: 10px 12px;
     background-color: #fff;
     border: 1px solid #ccc;
     border-radius: 6px;
     color: #333;
     font-size: 14px;
     width: 200px;
   }


.new-leftsidebar-invitees {
     margin-top: 20px;
}

.new-leftsidebar-invite-first-row{
     display: flex;
     flex-direction: row;
     align-items: center;
}

.new-leftsidebar-icon{
     width: 50px;
     height: 50px;
}

.new-leftsidebar-email{
     margin-left: 27px;
     color: grey;
     margin-bottom: 10px;
}

.new-leftsidebar-checkbox{
     margin-right: 10px;
}